<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Тут автор</strong>
        <small>00.00.0000</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti deserunt doloribus ea earum eos explicabo fugit, impedit labore minima mollitia odit provident recusandae reiciendis saepe sunt veritatis vero. Possimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at blanditiis deleniti eligendi enim expedita iusto labore maxime non numquam, quia repellat repellendus, sed vitae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur deserunt ducimus omnis, quidem reiciendis voluptates.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti deserunt doloribus ea earum eos explicabo fugit, impedit labore minima mollitia odit provident recusandae reiciendis saepe sunt veritatis vero. Possimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at blanditiis deleniti eligendi enim expedita iusto labore maxime non numquam, quia repellat repellendus, sed vitae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur deserunt ducimus omnis, quidem reiciendis voluptates.</p>
    </div>

</div>
